.base, .candle{
	transform: translateY(-500px);
}
.ribbon{
	transform: translateX(700px) 
}
.cover, .ribbon_box, .box{
	transform: translateX(500px);
}

.base:nth-child(2){
	-webkit-animation: popup 3s;
	-webkit-animation-fill-mode: forwards;
}
.base:nth-child(3){
	-webkit-animation: popup 2s;
	-webkit-animation-delay: 3s;
	-webkit-animation-fill-mode: forwards;
}
.base:nth-child(4){
	-webkit-animation: popup 2s;
	-webkit-animation-delay: 6s;
	-webkit-animation-fill-mode: forwards;
}

.candle{
	-webkit-animation: popup 1s;
	-webkit-animation-delay: 9s;
	-webkit-animation-fill-mode: forwards;	
}

@-webkit-keyframes popup {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.ribbon{
	-webkit-animation: bounceInRight 2s;
	-webkit-animation-delay: 9s;
	-webkit-animation-fill-mode: forwards;	
}

@-webkit-keyframes bounceInRight {
	0% {
	    opacity: 0;
	    -webkit-transform: translateX(2000px);
	    transform: translateX(2000px);
	}

	60% {
	    opacity: 1;
	    -webkit-transform: translateX(-30px);
	    transform: translateX(-30px);
	}

	80% {
	    -webkit-transform: translateX(10px);
	    transform: translateX(10px);
	}

	100% {
	    -webkit-transform: translateX(0);
	    transform: translateX(0);
	}
}